.TransferCon {
    background-color: rgb(75, 75, 75);
    width: 96%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.TransferConLeft {
    width: 49%;
    /* border: 1px solid white; */
    height: 100%;
    /* border-radius: 40px; */
}

.TransferConRight {
    width: 49%;
    /* border: 1px solid white; */
    height: 100%;
}