.ExpensesIncomeCon {
    display: flex;
    justify-content: space-between;
    height: 20%;
    border: 1px solid red;
}

.ExpensesCon,
.IncomeCon {
    width: 49%;
}

.ExpensesSumCon,
.IncomeSumCon {
    width: 100%;
    height: 70%;
    border: 1px solid red;
}